@import "shell";

$colorGray100: #f2f4f7;    
$colorGray600: #475467; 
$colorGray900: #101828;
$colorPrimary600: #155eef;  
$colorError700: #b42318;   
$colorWarning700: #b54708;   
$colorSuccess700: #027a48;
$colorViolet600: #7839ee;

/* COLOR CHANGES FOR BOOTSTRAP SO TOVUTI CAN BE ACCESSIBLE */
$primary: $colorPrimary600;
$secondary: $colorGray600;
$success: $colorSuccess700;
$warning: $colorWarning700;
$danger: $colorError700;
$info: $colorViolet600;
$dark: $colorGray900;
$light: $colorGray100;



:root {
    --bs-font-sans-serif: 'Plus Jakarta Sans', sans-serif !important;
    --bs-font-monospace: 'Roboto Mono', monospace !important;
  }
