$colorBaseWhite: #ffffff;    
$colorBaseBlack: #000000;    
$colorGray25: #fcfcfd;    
$colorGray50: #f9fafb;    
$colorGray100: #f2f4f7;    
$colorGray200: #eaecf0;    
$colorGray300: #d0d5dd;    
$colorGray400: #98a2b3;    
$colorGray500: #667085;    
$colorGray600: #475467;    
$colorGray700: #344054;    
$colorGray800: #1d2939;    
$colorGray900: #101828;    
$colorPrimary25: #f5f8ff;    
$colorPrimary50: #eff4ff;    
$colorPrimary100: #f4ebff;    
$colorPrimary200: #b2ccff;    
$colorPrimary300: #84adff;    
$colorPrimary400: #528bff;    
$colorPrimary500: #2970ff;    
$colorPrimary600: #155eef;    
$colorPrimary700: #004eeb;    
$colorPrimary800: #0040c1;    
$colorPrimary900: #00359e;    
$colorError25: #fffbfa;    
$colorError50: #fef3f2;    
$colorError100: #fee4e2;    
$colorError200: #fecdca;    
$colorError300: #fda29b;    
$colorError400: #f97066;    
$colorError500: #f04438;    
$colorError600: #d92d20;    
$colorError700: #b42318;    
$colorError800: #912018;    
$colorError900: #7a271a;    
$colorWarning25: #fffcf5;    
$colorWarning50: #fffaeb;    
$colorWarning100: #fef0c7;    
$colorWarning200: #fedf89;    
$colorWarning300: #fec84b;    
$colorWarning400: #fdb022;    
$colorWarning500: #f79009;    
$colorWarning600: #dc6803;    
$colorWarning700: #b54708;    
$colorWarning800: #93370d;    
$colorWarning900: #7a2e0e;    
$colorSuccess25: #f6fef9;    
$colorSuccess50: #ecfdf3;    
$colorSuccess100: #d1fadf;    
$colorSuccess200: #a6f4c5;    
$colorSuccess300: #6ce9a6;    
$colorSuccess400: #32d583;    
$colorSuccess500: #12b76a;    
$colorSuccess600: #039855;    
$colorSuccess700: #027a48;    
$colorSuccess800: #05603a;    
$colorSuccess900: #054f31;    
$colorGrayBlue50: #f8f9fc;    
$colorGrayBlue100: #eaecf5;    
$colorGrayBlue200: #d5d9eb;    
$colorGrayBlue300: #b3b8db;    
$colorGrayBlue400: #717bbc;    
$colorGrayBlue500: #4e5ba6;    
$colorGrayBlue600: #3e4784;    
$colorGrayBlue700: #363f72;    
$colorGrayBlue800: #293056;    
$colorGrayCool25: #fcfcfd;    
$colorGrayCool50: #f9f9fb;    
$colorGrayCool100: #eff1f5;    
$colorGrayCool200: #dcdfea;    
$colorGrayCool300: #b9c0d4;    
$colorGrayCool400: #7d89b0;    
$colorGrayCool500: #5d6b98;    
$colorGrayCool600: #4a5578;    
$colorGrayCool700: #404968;    
$colorGrayCool800: #30374f;    
$colorGrayCool900: #111322;    
$colorGrayModern25: #fcfcfd;    
$colorGrayModern50: #f8fafc;    
$colorGrayModern100: #eef2f6;    
$colorGrayModern200: #e3e8ef;    
$colorGrayModern300: #cdd5df;    
$colorGrayModern400: #9aa4b2;    
$colorGrayModern500: #697586;    
$colorGrayModern600: #4b5565;    
$colorGrayModern700: #364152;    
$colorGrayModern800: #202939;    
$colorGrayModern900: #121926;    
$colorGrayNeutral25: #fcfcfd;    
$colorGrayNeutral50: #f9fafb;    
$colorGrayNeutral100: #f3f4f6;    
$colorGrayNeutral200: #e5e7eb;    
$colorGrayNeutral300: #d2d6db;    
$colorGrayNeutral400: #9da4ae;    
$colorGrayNeutral500: #6c737f;    
$colorGrayNeutral600: #4d5761;    
$colorGrayNeutral700: #384250;    
$colorGrayNeutral800: #1f2a37;    
$colorGrayNeutral900: #111927;    
$colorGrayIron25: #fcfcfc;    
$colorGrayIron50: #fafafa;    
$colorGrayIron100: #f4f4f5;    
$colorGrayIron200: #e4e4e7;    
$colorGrayIron300: #d1d1d6;    
$colorGrayIron400: #a0a0ab;    
$colorGrayIron500: #70707b;    
$colorGrayIron600: #51525c;    
$colorGrayIron700: #3f3f46;    
$colorGrayIron800: #26272b;    
$colorGrayIron900: #18181b;    
$colorGrayTrue25: #fcfcfc;    
$colorGrayTrue50: #fafafa;    
$colorGrayTrue100: #f5f5f5;    
$colorGrayTrue200: #e5e5e5;    
$colorGrayTrue300: #d6d6d6;    
$colorGrayTrue400: #a3a3a3;    
$colorGrayTrue500: #737373;    
$colorGrayTrue600: #525252;    
$colorGrayTrue700: #424242;    
$colorGrayTrue800: #292929;    
$colorGrayTrue900: #141414;    
$colorGrayWarm25: #fdfdfc;    
$colorGrayWarm50: #fafaf9;    
$colorGrayWarm100: #f5f5f4;    
$colorGrayWarm200: #e7e5e4;    
$colorGrayWarm300: #d7d3d0;    
$colorGrayWarm400: #a9a29d;    
$colorGrayWarm500: #79716b;    
$colorGrayWarm600: #57534e;    
$colorGrayWarm700: #44403c;    
$colorGrayWarm800: #292524;    
$colorGrayWarm900: #1c1917;    
$colorMoss25: #fafdf7;    
$colorMoss50: #f5fbee;    
$colorMoss100: #e6f4d7;    
$colorMoss200: #ceeab0;    
$colorMoss300: #acdc79;    
$colorMoss400: #86cb3c;    
$colorMoss500: #669f2a;    
$colorMoss600: #4f7a21;    
$colorMoss700: #3f621a;    
$colorMoss800: #335015;    
$colorMoss900: #2b4212;    
$colorGreenLight25: #fafef5;    
$colorGreenLight50: #f3fee7;    
$colorGreenLight100: #e3fbcc;    
$colorGreenLight200: #d0f8ab;    
$colorGreenLight300: #a6ef67;    
$colorGreenLight400: #85e13a;    
$colorGreenLight500: #66c61c;    
$colorGreenLight600: #4ca30d;    
$colorGreenLight700: #3b7c0f;    
$colorGreenLight800: #326212;    
$colorGreenLight900: #2b5314;    
$colorGreen25: #f6fef9;    
$colorGreen50: #edfcf2;    
$colorGreen100: #d3f8df;    
$colorGreen200: #aaf0c4;    
$colorGreen300: #73e2a3;    
$colorGreen400: #3ccb7f;    
$colorGreen500: #16b364;    
$colorGreen600: #099250;    
$colorGreen700: #087443;    
$colorGreen800: #095c37;    
$colorGreen900: #084c2e;    
$colorTeal25: #f6fefc;    
$colorTeal50: #f0fdf9;    
$colorTeal100: #ccfbef;    
$colorTeal200: #99f6e0;    
$colorTeal300: #5fe9d0;    
$colorTeal400: #2ed3b7;    
$colorTeal500: #15b79e;    
$colorTeal600: #0e9384;    
$colorTeal700: #107569;    
$colorTeal800: #125d56;    
$colorTeal900: #134e48;    
$colorCyan25: #f5feff;    
$colorCyan50: #ecfdff;    
$colorCyan100: #cff9fe;    
$colorCyan200: #a5f0fc;    
$colorCyan300: #67e3f9;    
$colorCyan400: #22ccee;    
$colorCyan500: #06aed4;    
$colorCyan600: #088ab2;    
$colorCyan700: #0e7090;    
$colorCyan800: #155b75;    
$colorCyan900: #164c63;    
$colorBlueLight25: #f5fbff;    
$colorBlueLight50: #f0f9ff;    
$colorBlueLight100: #e0f2fe;    
$colorBlueLight200: #b9e6fe;    
$colorBlueLight300: #7cd4fd;    
$colorBlueLight400: #36bffa;    
$colorBlueLight500: #0ba5ec;    
$colorBlueLight600: #0086c9;    
$colorBlueLight700: #026aa2;    
$colorBlueLight800: #065986;    
$colorBlueLight900: #0b4a6f;    
$colorBlue25: #f5faff;    
$colorBlue50: #eff8ff;    
$colorBlue100: #d1e9ff;    
$colorBlue200: #b2ddff;    
$colorBlue300: #84caff;    
$colorBlue400: #53b1fd;    
$colorBlue500: #2e90fa;    
$colorBlue600: #1570ef;    
$colorBlue700: #175cd3;    
$colorBlue800: #1849a9;    
$colorBlue900: #194185;    
$colorBlueDark25: #f5f8ff;    
$colorBlueDark50: #eff4ff;    
$colorBlueDark100: #d1e0ff;    
$colorBlueDark200: #b2ccff;    
$colorBlueDark300: #84adff;    
$colorBlueDark400: #528bff;    
$colorBlueDark500: #2970ff;    
$colorBlueDark600: #155eef;    
$colorBlueDark700: #004eeb;    
$colorBlueDark800: #0040c1;    
$colorBlueDark900: #00359e;    
$colorIndigo25: #f5f8ff;    
$colorIndigo50: #eef4ff;    
$colorIndigo100: #e0eaff;    
$colorIndigo200: #c7d7fe;    
$colorIndigo300: #a4bcfd;    
$colorIndigo400: #8098f9;    
$colorIndigo500: #6172f3;    
$colorIndigo600: #444ce7;    
$colorIndigo700: #3538cd;    
$colorIndigo800: #2d31a6;    
$colorIndigo900: #2d3282;    
$colorViolet25: #fbfaff;    
$colorViolet50: #f5f3ff;    
$colorViolet100: #ece9fe;    
$colorViolet200: #ddd6fe;    
$colorViolet300: #c3b5fd;    
$colorViolet400: #a48afb;    
$colorViolet500: #875bf7;    
$colorViolet600: #7839ee;    
$colorViolet700: #6927da;    
$colorViolet800: #5720b7;    
$colorViolet900: #491c96;    
$colorPurple25: #fafaff;    
$colorPurple50: #f4f3ff;    
$colorPurple100: #ebe9fe;    
$colorPurple200: #d9d6fe;    
$colorPurple300: #bdb4fe;    
$colorPurple400: #9b8afb;    
$colorPurple500: #7a5af8;    
$colorPurple600: #6938ef;    
$colorPurple700: #5925dc;    
$colorPurple800: #4a1fb8;    
$colorPurple900: #3e1c96;    
$colorFuchsia25: #fefaff;    
$colorFuchsia50: #fdf4ff;    
$colorFuchsia100: #fbe8ff;    
$colorFuchsia200: #f6d0fe;    
$colorFuchsia300: #eeaafd;    
$colorFuchsia400: #e478fa;    
$colorFuchsia500: #d444f1;    
$colorFuchsia600: #ba24d5;    
$colorFuchsia700: #9f1ab1;    
$colorFuchsia800: #821890;    
$colorFuchsia900: #6f1877;    
$colorPink25: #fef6fb;    
$colorPink50: #fdf2fa;    
$colorPink100: #fce7f6;    
$colorPink200: #fcceee;    
$colorPink300: #faa7e0;    
$colorPink400: #f670c7;    
$colorPink500: #ee46bc;    
$colorPink600: #dd2590;    
$colorPink700: #c11574;    
$colorPink800: #9e165f;    
$colorPink900: #851651;    
$colorRos25: #fff5f6;    
$colorRos50: #fff1f3;    
$colorRos100: #ffe4e8;    
$colorRos200: #fecdd6;    
$colorRos300: #fea3b4;    
$colorRos400: #fd6f8e;    
$colorRos500: #f63d68;    
$colorRos600: #e31b54;    
$colorRos700: #c01048;    
$colorRos800: #a11043;    
$colorRos900: #89123e;    
$colorOrangeDark25: #fff9f5;    
$colorOrangeDark50: #fff4ed;    
$colorOrangeDark100: #ffe6d5;    
$colorOrangeDark200: #ffd6ae;    
$colorOrangeDark300: #ff9c66;    
$colorOrangeDark400: #ff692e;    
$colorOrangeDark500: #ff4405;    
$colorOrangeDark600: #e62e05;    
$colorOrangeDark700: #bc1b06;    
$colorOrangeDark800: #97180c;    
$colorOrangeDark900: #771a0d;    
$colorOrange25: #fefaf5;    
$colorOrange50: #fef6ee;    
$colorOrange100: #fdead7;    
$colorOrange200: #f9dbaf;    
$colorOrange300: #f7b27a;    
$colorOrange400: #f38744;    
$colorOrange500: #ef6820;    
$colorOrange600: #e04f16;    
$colorOrange700: #b93815;    
$colorOrange800: #932f19;    
$colorOrange900: #772917;    
$colorYellow25: #fefdf0;    
$colorYellow50: #fefbe8;    
$colorYellow100: #fef7c3;    
$colorYellow200: #feee95;    
$colorYellow300: #fde272;    
$colorYellow400: #fac515;    
$colorYellow500: #eaaa08;    
$colorYellow600: #ca8504;    
$colorYellow700: #a15c07;    
$colorYellow800: #854a0e;    
$colorYellow900: #713b12;    
$colorGrayBlue900: #101323;    
$colorBaseTransparent: #ffffff00;    
/* Hover color for $background;
Hover color for transparent backgrounds */
$colorBackgroundDaylightBackgroundHover: #f2f4f71a;    
/* Hover color for $background;
Hover color for transparent backgrounds */
$colorBackgroundNightfallBackgroundHover: #6670851a;    
/* Default page background;
UI Shell base color */
$colorBackgroundDaylightBackground: $colorBaseWhite;    
$colorBackgroundNightfallBackground: $colorGray900;    

/* COLOR CHANGES FOR BOOTSTRAP SO TOVUTI CAN BE ACCESSIBLE */
$primary: $colorPrimary600;
$secondary: $colorGray600;
$success: $colorSuccess700;
$warning: $colorWarning700;
$danger: $colorError700;
$info: $colorViolet600;
$dark: $colorGray900;
$light: $colorGray100;



:root {
    --bs-font-sans-serif: 'Plus Jakarta Sans', sans-serif !important;
    --bs-font-monospace: 'Roboto Mono', monospace !important;
  }