:root {
    --header-bar-space: 91px;
}


body {
    position: relative;
}

.moyo-header {
    background-color: $light;
    padding: $spacer;
    display: flex;
    align-items: center;
    gap: $spacer;
    border-bottom: $border-width solid $light;
    position: fixed;
    z-index: 200;
    width: 100%;
}

.moyo-header-left {
    display:flex;
    align-items: center;
    gap: $spacer;
}

.moyo-logo {
    height: 100%;
}

.moyo-menu-toggle {
    padding: $spacer;
    border: $border-width solid $light;
    background-color: $white;
    border-radius: $border-radius;

    &:hover {
        background-color: rgba(0,0,0,.0125);
    }

    &:active {
        background-color: rgba(0,0,0,.025);
    }
}

.moyo-menu-toggle i, .moyo-sidebar i {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moyo-sidebar {
    background-color: $primary;
    position: fixed;
    height: 100%;
    width: 200px;
    top: var(--header-bar-space);

    button {
        width: 100%;
        padding: $spacer * 2;
        background-color: transparent;
        color: $light;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $spacer;
        font-weight: 600;

        i {
            margin: auto auto;
            width: 24px;
            height: 24px;
            transform: scale(2);

            &::before {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &:hover {
            background-color: rgba(255,255,255,.1);
        }
        
        &:active {
            background-color: rgba(255,255,255,.125);
        }
    }
}

main {
    left: 200px;
    position: relative;
    width: calc(100% - 200px);
    top: var(--header-bar-space);
}

.moyo-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    color: $light;
    width: 100%;
    height: 300px;
    position: relative;

    .image {
        background-size: cover;
        z-index: 100;
        // background-image: url();
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: grayscale(100%) opacity(.125);
    }

    h1 {
        z-index: 150;
        padding: $spacer * 4;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            margin: $spacer $spacer*2;
        }
    }
}

.moyo-content-wrapper {
    display: flex;
    flex-direction: row;
    gap: $spacer * 2;
    align-items: top;
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) { 
    .moyo-content-2fa {
        min-width:50vw;
        min-height: 30vh;
    }
 }

.moyo-content-2fa {
    gap: $spacer * 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .card {
        margin: auto;
        height: 100%;
        width: 100%;
    }
}


.moyo-content-body {
    display: flex;
    flex-direction: column;
    padding: $spacer * 2;
    gap: $spacer * 2;

    .card-body {
    background-color: $light;
    border-radius: $border-radius;
    }

    .moyo-content-title {
    display: flex;
    align-items: center;
    gap: $spacer;
    flex-wrap: wrap;

        .badge {
            display: flex;
            gap: $spacer * .25;
        }

    }
}

.moyo-card-2fa {
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: $spacer * 2;
    gap: $spacer * 2;
    flex-shrink: 1;
    position: relative;

    .moyo-yubi-1 {
        position: absolute;
        bottom: -30px;
        right: -30px;
        
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    .moyo-yubi-2 {
        position: absolute;
        top: -20px;
        left: -20px;
        
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    .moyo-yubi-3 {
        position: absolute;
        bottom: 150px;
        right: -30px;
        
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    .moyo-yubi-4 {
        position: absolute;
        bottom: 50px;
        left: -60px;
        
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

    .moyo-2fa-link {
        font-size: $small-font-size * .9;
        font-weight: 600;
    }

    a.btn {
        width: auto;
        padding: $spacer * 2;
        flex-shrink: 1;
        border-radius: $border-radius-pill;

        i {  
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(2);
        }
    }
}

.moyo-auth-apps {
    display: flex;
    gap: $spacer * 2;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    p.card-text {
        align-items: center;
        margin-bottom: 0;
    }
}

.moyo-auth-app {
    display:flex;
    flex-direction: column;
    font-weight: 600;
    gap: $spacer * .5;
    font-size: $small-font-size;

    #google-play {
        min-height: 40px;
    }
}

.moyo-auth-app.inline {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.modal-2fa {
    
    .modal-content {
        border: none;

        .modal-header, .modal-footer {
            border: none;
        }

        .modal-body {
            padding: $spacer * 4;
            padding-top: 0;

            .moyo-copy-code {
                background-color: $light;
                text-color: $dark;
                font-family: var(--bs-font-monospace);
                font-weight: 600;
                width: auto;
                margin: auto;
                padding: $spacer*.5 $spacer;
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: $spacer;
                margin: auto;
            }

            input {
                max-width: 480px;
                margin: auto;
            }

            .moyo-2fa-progress {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                margin-bottom: $spacer * 2;

                .moyo-2fa-divider {
                    width: 48px;
                    height: 1px;
                }

                .moyo-2fa-incomplete {
                    padding: $spacer;
                    background-color: $danger;
                    border-radius: $border-radius-pill;
                }

                .moyo-2fa-complete {
                    padding: $spacer;
                    background-color: $success;
                    border-radius: $border-radius-pill;
                }

                .disabled {
                    opacity: .125;
                }

                i {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $light;
                }

            }
        }

        .moyo-2fa-form {
            display: flex;
            flex-direction: column;
            gap: $spacer;

            label {
                font-size: $font-size-base * 2;
                font-weight: 600;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 992px) { 
    .moyo-modal-2fa-custom {
        display: flex;
        align-items: center;
        gap: $spacer * 2;
    }
 }

.moyo-modal-2fa-custom {
    flex-direction: row;
    margin-top: $spacer * 2;

    ol {
        text-align: left;
        margin: $spacer * 2;
    }
}


.load{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius:100%;
    /*change these sizes to fit into your project*/
    width:100px;
    height:100px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index:50;
  }
  .load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:100%;animation:spin 2s ease infinite;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}
  
  .load :first-child{background:#19A68C;animation-delay:-1.5s}
  .load :nth-child(2){background:#F63D3A;animation-delay:-1s}
  .load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
  .load :last-child{background:#193B48}
  
  @keyframes spin{
    0%,100%{transform:translate(0)}
    25%{transform:translate(160%)}
    50%{transform:translate(160%, 160%)}
    75%{transform:translate(0, 160%)}
  }