

:root {
    --header-bar-space: 91px;

    
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $warning;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}


body {
    position: relative;
}

.moyo-header {
    background-color: $light;
    padding: $spacer;
    display: flex;
    align-items: center;
    gap: $spacer;
    border-bottom: $border-width solid $light;
    position: fixed;
    z-index: 200;
    width: 100%;
}

.moyo-header-left {
    display:flex;
    align-items: center;
    gap: $spacer;
}

.moyo-logo {
    height: 100%;
}

.moyo-menu-toggle {
    padding: $spacer;
    border: $border-width solid $light;
    background-color: $white;
    border-radius: $border-radius;

    &:hover {
        background-color: rgba(0,0,0,.0125);
    }

    &:active {
        background-color: rgba(0,0,0,.025);
    }
}

.moyo-menu-toggle i, .moyo-sidebar i {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moyo-sidebar {
    background-color: $primary;
    position: fixed;
    height: 100%;
    width: 200px;
    top: var(--header-bar-space);

    button {
        width: 100%;
        padding: $spacer * 2;
        background-color: transparent;
        color: $light;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $spacer;
        font-weight: 600;

        i {
            margin: auto auto;
            width: 24px;
            height: 24px;
            transform: scale(2);

            &::before {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &:hover {
            background-color: rgba(255,255,255,.1);
        }
        
        &:active {
            background-color: rgba(255,255,255,.125);
        }
    }
}

main {
    left: 200px;
    position: relative;
    width: calc(100% - 200px);
    top: var(--header-bar-space);
}

.moyo-cover {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: $primary;
    color: $light;
    width: 100%;
    height: 300px;
    position: relative;

    .image {
        background-size: cover;
        z-index: 100;
        // background-image: url();
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: grayscale(100%) opacity(.125);
    }

    h1 {
        z-index: 150;
        padding: $spacer * 4;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.moyo-content-wrapper {
    display: flex;
    flex-direction: row;
    gap: $spacer * 2;
    align-items: top;
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
}

.moyo-content-2fa {

    .card {
        margin: auto;
        height: 100%;
        width: 100%;
    }
}


.moyo-content-body {
    display: flex;
    flex-direction: column;
    padding: $spacer * 2;
    gap: $spacer * 2;

    .card-body {
    background-color: $light;
    border-radius: $border-radius;
    }

    .moyo-content-title {
    display: flex;
    align-items: center;
    gap: $spacer;
    flex-wrap: wrap;

        .badge {
            display: flex;
            gap: $spacer * .25;
        }

    }
}

.moyo-card-2fa {
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: $spacer * 2;
    gap: $spacer * 2;
    flex-shrink: 1;

    a.btn {
        width: auto;
        padding: $spacer * 2;
        flex-shrink: 1;
        border-radius: $border-radius-pill;

        i {  
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(2);
        }
    }
}

.moyo-auth-apps {
    display: flex;
    gap: $spacer * 2;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    p.card-text {
        align-items: center;
        margin-bottom: 0;
    }
}

.moyo-auth-app {
    display:flex;
    flex-direction: column;
    font-weight: 600;
    gap: $spacer * .5;
    font-size: $small-font-size;

    #google-play {
        min-height: 40px;
    }
}

.moyo-auth-app.inline {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.modal-2fa {
    
    .modal-content {
        border: none;

        .modal-header, .modal-footer {
            border: none;
        }

        .modal-body {
            padding: $spacer * 4;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: $spacer;
                margin: auto;
            }
        }

        .moyo-2fa-form {
            display: flex;
            flex-direction: column;
            gap: $spacer;

            label {
                font-size: $font-size-base * 2;
                font-weight: 600;
            }
        }
    }
}